---
---

@import "{{ site.theme }}";

/*.page-header {
  background-color: #000;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.page-header {
  padding: 6rem;

  background-image:
    linear-gradient(120deg, #155799, #159957),
    url("../images/header.jpg");

  background-origin: border-box;
  background-clip: content-box, border-box;

  border: 8px solid transparent;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-name,
.project-tagline {
  color: black;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
  
